@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap');

@font-face {
    font-family: 'Corporate Logo Rounded ver2';
    src: url('font/Corporate-Logo-Rounded.ttf');
    font-display: swap;
}

body {
    color: #4C4949;
    margin: 0;
    font-family: 'Baloo Chettan 2';
    background-color: white;
    font-size: 20px;
}

a {
    transition: color 500ms ease;
}

p {
    font-weight: 700;
}


.nav {
    position: sticky;
    background-color: white;
    top: 0;
    font-weight: 700;
    z-index: 1;
    padding: 16px 32px;
}

.nav-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.navlink {
    text-decoration: none;
    padding: 8px 0;
}

.navlink:link,
.navlink:visited {
    color: #4C4949;
}

.navlink:hover {
    color: #608959;
}



/* Mobile navigation */
@media (max-width: 599px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu-icon {
        user-select: none;
        cursor: pointer;
    }

    .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }

    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .navlinks {
        overflow: hidden;
        max-height: 0;
        transition: max-height 200ms ease-out;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 100%;
        right: 0;
        background: white;
        width: 100%;
        padding: 0 32px;
        margin-top: -16px;
    }

    .navlink:last-child {
        margin-bottom: 16px;
    }


    .menu-icon .navicon:before {
        top: 5px;
    }

    .menu-icon .navicon:after {
        top: -5px;
    }

    #menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    #menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
        top: 0;
    }

    #menu-btn:checked~.navlinks {
        max-height: 50vh;
    }

    #menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

}

/* Desktop navigation */
@media (min-width: 600px) {
    .menu-icon {
        display: none;
    }

    .nav-content {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;

    }

    .navlink {
        padding: 20px 0 20px 40px;
        display: inline-block;
        text-decoration: none;

    }

    .navlinks {
        text-align: right;
    }
}

.logo {
    display: flex;
}

.illustration {
    max-width: 100%;
}

@media (min-width: 600px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        align-items: center;
    }

}


.greeting {
    position: relative;
}

.japanese {
    font-family: 'Corporate Logo Rounded ver2';
}

.english {
    display: none;
}

.translate {
    display: block;
}

@media (hover: hover) {
    .translate:hover .japanese {
        display: none;
    }

    .translate:hover .english {
        display: inline;
    }
}

@media (hover: none) {
    #translate-btn:checked~.translate .japanese {
        display: none;
    }

    #translate-btn:checked~.translate .english {
        display: inline;
    }
}

.greeting::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 0.3em;
    background: #c1d8ac;
    z-index: -1;
    border-radius: 0.25em;
}

.japanese::after {
    bottom: -0.1em;
}

.english::after {
    bottom: 0.2em;
}




.rectangle {
    background-color: #C1D8AC;
}

.wave {
    display: block;
    fill: #C1D8AC;
    fill-opacity: 1;
    margin: -1px 0; /* Fix background hairline leaking between. */
}

.work {
    padding: 30px 0;
}

.work-page {
    padding-bottom: 30px;
}

.whyux {
    padding: 50px 0;
}

@media (min-width: 800px) {

    .whyux {
        padding: 100px 0;

    }

    .about-bottom {
        padding-bottom: 100px;
    }

    .work {
        padding: 10vh 0 20vh;
    }
}



.work-rectangle {
    background: #F6EFE7;
    border-radius: 20px;
    overflow: hidden;
}


.work-rectangle-content {
    transition: transform 300ms ease;
    display: flex;
    align-items: center;
    padding-top: 2em;

}

.work-rectangle:hover .work-rectangle-content {
    transform: scale(1.05);
    transform-origin: center;
}


.work-image {
    width: 50%;
}

.work-text {
    text-align: center;
    padding-top: 10px;
}

.work-logo {
    padding: 0 8% 0 2em;
    color: #ffffff;
}

.imgs {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;

}

.imgs a {
    text-decoration: none;
    color: #4C4949;
}


.content-image {
    border-radius: 30px;
}



.link {
    color: #608959;
}

.link:hover {
    color: #4C4949;
}






.socialmedia-main {
    text-align: center;
    padding: 10px 0;
}

@media (min-width: 600px) {
    .socialmedia-main {
        text-align: right;
    }
}

.socialmedia {
    text-align: center;
    padding: 40px 0;
}

@media (min-width: 600px) {
    .socialmedia {
        text-align: right;
    }
}

.icon svg:hover {
    fill: #608959;
}


.icon svg {
    width: 35px;
    height: 35px;
    fill: #4C4949;
}

.icon {
    padding: 0 25px;
    text-decoration: none;
}





@media (min-width: 600px) {
    .abouttext {
        display: grid;
        grid-gap: 5em;
        align-items: center;
    }

    .abouttext.image-left {
        grid-template-columns: 1fr auto;
    }

    .abouttext.image-right {
        grid-template-columns: auto 1fr;
    }

    .about-image {
        width: 300px;
    }

}

.content {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 800px;
}

.content-home {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1000px;
}


.about-image {
    width: 300px;
    margin-top: 32px;
}

.about-text {
    padding-bottom: 32px;
}

.content-bottom {
    z-index: -1;
}

.wave-bottom {
    fill: #C1D8AC;
    display: block;
    margin-bottom: -1px; /* Fix background hairline leaking between. */
}

.footer-green {
    background: #C1D8AC;

}

.mirror-body {
    font-size: 18px;
}

.annotation {
    font-size: 18px;
    margin: 1rem 0 0.5rem 0;
}

.stage {
    background-color: #d38b5bcb;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
}

.stage2 {
    background-color: #839B5C;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
}

.stage3 {
    background-color: #5E64DB;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
}

.stage4 {
    background-color: #B78931;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
}

.stage5 {
    background-color: #FFF3D9;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
}

.stage6 {
    background-color: #BFE5FF;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
}

.stage-text {
    color: white;
}

.objectives {
    margin-top: 20px;
    margin-bottom: 60px;
    display: grid;
    grid-gap: 32px;
    /* Choose the most possible columns such that each column is at least 125px wide. */
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.mirror-grid {
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-gap: 32px;
    margin: 100px 0;
}

.mirror-flows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin: 100px 0;
}

li {
    padding-left: 2em;
    text-indent: -1.4em
}

.hero-mirror {
    background: #d38b5bcb;
    display: flex;
    align-items: center;
    padding-top: 2em;
    justify-content: center;
    max-width: 100%;

}

.hero-all-about-matcha {
    background: #839B5C;
    padding: 4em 0 1em;
}

.matcha-hero {
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 0 32px;
}

.matcha-hero-image {
    max-width: 100%;
}


@media (min-width: 600px) {
    .matcha-hero-image {
        max-width: 60%;
    }

    .matcha-hero {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        color: #fff;
    }
}


.hero-brightwheel {
    background: #5E64DB;
    display: flex;
    align-items: center;
    padding-top: 4em;
    justify-content: center;
    max-width: 100%;
}

.hero-wtj {
    background: #B78931;
    display: flex;
    align-items: center;
    padding-top: 2em;
    justify-content: center;
    max-width: 100%;
}

.hero-nextdelivery {
    background: #BFE5FF;
    display: flex;
    align-items: center;
    padding-top: 2em;
    justify-content: center;
    max-width: 100%;
}

.hero-nextdelivery-text {
    color: #4C4949;
}


.hero-1thing {
    background: #FFF3D9;
    display: flex;
    align-items: center;
    padding-top: 2em;
    justify-content: center;
    max-width: 100%;
}

.onething-hero {
    color: #4C4949;
    gap: 2em;
    /* Only supported on relative new browsers. */
}

.onething-hero>div {
    flex: 50%;
}

.onething-hero-image {
    width: 100%;
}

.content-no-padding {
    align-items: center;
    padding: 2em 0;
    justify-content: center;
    max-width: 100%;
}


.content-top {
    align-items: center;
    padding-top: 2em;
    justify-content: center;
    max-width: 100%;
    cursor: zoom-in;
}

.content-top-bottom {
    align-items: center;
    padding: 2em 0;
    justify-content: center;
    max-width: 100%;
    cursor: zoom-in;
}

.mirror-main-screen {
    padding-top: 0.5em;
    padding-bottom: 2em;
    max-width: 100%;
}

.mirror-image {
    width: 25%;
}




.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}

.lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.contact {
    background-color: #E8F4E9;
    border-radius: 20px;
    padding: 32px;
}

.contact-text {
    margin: 0;
}

.contact-cta {
    border-radius: 20px;
    padding: 16px 32px;
    display: block;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 600px) {
    .contact-text {
        margin: 30px;
    }

    .contact-cta {
        border-radius: 20px;
        padding: 16px 32px;
        display: inline-block;
        text-decoration: none;
    }
}

.cta-button {
    background-color: #608959;
    color: #fff;
}


.contact-cta:hover {
    background-color: #fff;
    color: #608959;
    transition: all 0.65s;
}


.case-study-title {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: bold;
}

.title-shurui {
    color: #c4c4c4;
}

.case-study {
    align-items: center;
    margin-bottom: 2em;
}


@media (min-width: 800px) {
    .case-study {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3em;
        margin-bottom: 6em;
    }
}


.case-study-image {
    max-width: 100%;
    transition: all 0.65s;
}

.case-study-image:hover {
    transform: scale(1.05);
    transform-origin: center;
}


.case-study-cta {
    border-radius: 20px;
    padding: 16px 32px;
    display: inline-block;
    text-decoration: none;

}

.case-study-cta-button {
    background-color: #fff;
    color: #4C4949;
    border: 2px solid #608959;
    margin: 32px 0;
    transition: all 0.65s;
}


.case-study-cta:hover {
    background-color: #608959;
    color: #fff;
}

footer {
    text-align: center;
    padding-bottom: 2em;
}



.previous-case-study {
    padding: 10vh 0;

}

.after-case-study {
    padding: 10vh 0;
    text-align: right;

}

.previous-color:link,
.previous-color:visited {
    color: #5E64DB;
}

.previous-color:hover {
    color: #4C4949;
}

.previous-color-wtj:link,
.previous-color-wtj:visited {
    color: #B78931;
}

.previous-color-wtj:hover {
    color: #4c4949;
}

.previous-color-matcha:link,
.previous-color-matcha:visited {
    color: #839B5C;
}

.previous-color-matcha:hover {
    color: #4c4949;
}

.previous-color-one:link,
.previous-color-one:visited {
    color: #FFBD66;
}

.previous-color-one:hover {
    color: #4c4949;
}

.previous-color-sky:link,
.previous-color-sky:visited {
    color: #F6AA00;
}

.previous-color-sky:hover {
    color: #4c4949;
}


.previous-after {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    align-items: center;
    text-decoration: none;
}


.view-more-case-study {
    text-align: right;
}

.view-more:link,
.view-more:visited {
    color: #4c4949;
}

.view-more:hover {
    color: #C1D8AC;
}


.video-content {
    margin-top: 50px;
    align-items: center;
}



@media (min-width: 800px) {
    .video-content {
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-gap: 5em;
    }

}


.video {
    width: 100%;
}


.video-text {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px;
}



.case-study-solution,
.case-study-solution-landscape {
    margin-top: 50px;
}

@media (min-width: 800px) {
    .case-study-solution {
        grid-template-columns: auto 1fr;
        display: grid;
        grid-gap: 5em;
    }
}

.case-study-solution-image {
    width: 100%;
    margin-bottom: 5rem;
}

.case-study-solution-text {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}

.footer-attribute {
    color: #89898C;
}

.footer-link:link,
.footer-link:visited {
    color: #89898C;
}

.footer-link:hover {
    color: #608959;
}

.statement {
    text-align: center;
    padding: 0 32px;
    font-weight: 600;
}

.category-title {
    font-size: 20px;
    font-weight: 600;
    margin: 4rem 0 0.5rem 0;
}